<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rank</th>
      <th>City</th>
      <th>Number of Pets</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%=@shelter.name%></td>
      <td><%=@shelter.rank%></td>
      <td><%=@shelter.city%></td>
      <td id='pet-count'><%=@shelter.pet_count%></td>
    </tr>
    <tr>
      <td colspan='4'>
        <%= link_to "Pending Applications", "/admin/shelters/#{@shelter.id}/applications", class:'btn btn-primary btn-sm' %>
        <%= link_to "Show Pets", "/shelters/#{@shelter.id}/pets", class:'btn btn-primary btn-sm' %>
        <%= link_to "Delete", "/shelters/#{@shelter.id}", method: :delete,
            data: {confirm: 'Are you sure?'},  class:'btn btn-danger btn-sm'%>
      </td>
    </tr>
  </tbody>
</table>
