<div id='search_for_pet_section'>
  <strong>Add a Pet to this Application</strong>
  <%= form_with(model: application, local: true, id: 'search_pet_form') do |form| %>
    <div class='form-group'>
      <%= form.label :search_pet_by, 'Search for a pet by:' %>
      <%= form.text_field :search_pet_by, class:'form-control', value: '' %>
    </div>
    <%= form.submit 'Search', class:'btn btn-primary' %>
  <% end %>
  <br />
  <br />
  <div id='pets_found_by'>
    <table class='table'>
      <thead>
        <tr>
          <th>Pets found with search:</th>
        </tr>
      </thead>
      <tbody>
        <% pets_found.each do |pet_found| %>
          <tr>
            <td>
              <%= pet_found.name %>
              <%= link_to 'Adopt this Pet', application_path(application.id, pet_to_adopt: pet_found.id),
                  method: :patch, id: "adopt_pet_#{pet_found.id}", class:'badge badge-success' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
