<% if @application.in_progress? %>
  <%= render partial: 'applications/search_pets', locals: {application: @application, pets_found: @pets_found} %>
<% end %>

<%= render partial: 'applications/pets_wanted', locals: {pets: @pets} %>

<%= render partial: 'applications/form', locals: {application: @application, applicant: @applicant} %>

<p>
  <strong>Status:</strong>
  <%= @application.status %>
</p>

<%= link_to 'Back', applications_path, id: 'back_to_index', class:'btn btn-secondary' %>
