<% if application.in_progress? &&  !(defined?(admin_view) && admin_view) %>
  <%= render partial: search_for_pet, locals: {application: application, pets_found: pets_found} %>
<% end %>

<%= render partial: list_of_wanted_pets, locals: {application: application, admin_view: defined?(admin_view) && admin_view} %>

<%= render partial: application_form, locals: {application: application, applicant: application.applicant} %>

<h4>Status: <%= application.status_badge %></h4>

<%= link_to 'Back', back_path, id: 'back_to_index', class:'btn btn-secondary' %>
