<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Breed</th>
      <th>Adoptable</th>
      <th>Shelter</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @pet.name %></td>
      <td><%= @pet.age %></td>
      <td><%= @pet.breed %></td>
      <td><%= @pet.adoptable %></td>
      <td><%= link_to @pet.shelter_name, "/shelters/#{@pet.shelter_id}",
              class: 'btn btn-light', role:'button'%></td>
    </tr>
    <tr>
      <td><%= link_to "Edit #{@pet.name}", "/pets/#{@pet.id}/edit",
              class:'btn btn-info btn-sm', role:'button' %></td>
      <td><%= link_to "Delete #{@pet.name}", "/pets/#{@pet.id}", method: :delete,
              data: { confirm: 'Are you sure?' },
              class:'btn btn-danger btn-sm', role:'button' %></td>
      <td colspan='3'></td>
    </tr>
  </tbody>
</table>
