<%= form_with(model: application, local: true, id: 'applications_form') do |form| %>

  <% if application.is_new? %>

    <%= render partial: new_application_form, locals: { address: Address.new, form: form }%>

  <% elsif application.in_progress? %>

    <%= render partial: in_progress_application_form, locals: { applicant: applicant, application: application, form: form } %>

  <% elsif application.pending? %>

    <%= render partial: pending_application_form, locals: { applicant: applicant, application: application, form: form } %>

  <% end %>

  <% if application.ready_to_submit? %>
    <div class="form-group">
      <%= form.submit 'Submit', class:'btn btn-success btn-lg'%>
    </div>
  <% end %>
<% end %>
