<div id='address_form'>
  <strong>Address:</strong>
  <div class='form-group'>
    <%= label :address, :street, 'Street:' %>
    <%= text_field :address, :street, value: address&.street, class:'form-control' %>
  </div>

  <div class='form-group'>
    <%= label :address, :city, 'City:' %>
    <%= text_field :address, :city, value: address&.city, class:'form-control' %>
  </div>

  <div class='form-group'>
    <%= label :address, :state, 'State:' %>
    <%= text_field :address, :state, value: address&.state, class:'form-control' %>
  </div>

  <div class='form-group'>
    <%= label :address, :zipcode, 'Zipcode:' %>
    <%= text_field :address, :zipcode, value: address&.zipcode, class:'form-control' %>
  </div>
</div>
