<!DOCTYPE html>
<html>
  <head>
    <title>Adopt, Don't Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class='container'>
      <nav class='navbar navbar-expand-sm bg-light'
        <ul class='navbar-nav'>
          <li class='nav-item'>
            <%= link_to "Pets", "/pets", class:'nav-link' %>
          </li>
          <li class='nav-item'>
            <%= link_to "Shelters", "/shelters", class:'nav-link' %>
          </li>
          <li class='nav-item'>
            <%= link_to "Veterinarians", "/veterinarians", class:'nav-link' %>
          </li>
          <li class='nav-item'>
            <%= link_to "Veterinary Offices", "/veterinary_offices", class:'nav-link' %>
          </li>
        </ul>
      </nav>
    </div>
    <div class='container'>
      <% flash.each do |type, msg| %>
        <div <%= flash_class(type) %> role='alert'>
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
